/* DISEÑO DE ESTILO PARA LA PAGINA PRINCIPAL*/



/* ESTILO DEL ENCABEZADO*/
.contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
    color: #ffffff;
    font-family: Arial;
    font-size: 60px;
}

.centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* ESTILO PARA LA BARRA DE MENU HORIZONTAL*/
header {
    background-color: rgb(0, 0, 0, 0.7);
    width: 100%;
    position: fixed;
    z-index: 100;
    float: left;
}

nav ul {
    list-style: none;
    overflow: hidden;
}

nav ul li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

nav ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

nav ul li:hover {
    background: #eca023;
}

.contenido{
    text-align: center;
}

footer {
    text-align: center;
}